[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak,
.ng-hide:not(.ng-hide-animate) {
  display: none !important;
}
ng\:form {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  background-image: url(../img/bkg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 460px;
}
body {
  margin: 0;
  padding: 0;
  text-align: center;
}
body .container {
  height: 100%;
}
body.main {
  overflow: hidden;
}
body #logo {
  width: 100%;
  position: fixed;
  top: 20px;
}
body #logo img {
  width: 100%;
  max-width: 280px;
}
body section {
  width: 100%;
  height: 100%;
  position: relative;
}
body section#one .btn {
  top: 0px;
}
body section#one #fileUploader input {
  display: none;
}
body section#one form {
  position: relative;
  top: 170px;
}
body section#one form .layout {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 170px;
  left: 0;
  z-index: 20;
}
body section#one form.bling {
  -webkit-animation-name: blinker;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 0.7s;
}
body section#one form.bling .layout {
  display: block;
}
body section#dos {
  display: none;
}
body section#dos #rotate {
  position: relative;
  top: -100px;
  left: 4px;
  z-index: 50;
}
body section#dos #rotate img {
  width: 85px;
  opacity: 0.7;
}
body section#dos #cancel {
  position: absolute;
  top: 375px;
  margin-left: -115px;
}
body section#dos #cancel img {
  width: 53px;
  transition: all 700ms ease;
}
body section#dos #cancel:hover img {
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
}
body section#dos .frame {
  width: 280px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  top: 80px;
  z-index: 10;
}
body section#dos .frame .btn {
  position: absolute;
  z-index: 999;
  top: 289px;
  left: 165px;
}
body section#dos .frame .btn img {
  width: 64px;
}
body section#dos .frame #frameimg {
  max-width: 100%;
  position: absolute;
  top: 0;
  z-index: 99;
}
body section#dos .frame canvas {
  width: 270px;
  height: 270px;
  position: relative;
  top: 5px;
  left: 5px;
  z-index: 9;
}
body section#trio {
  display: none;
}
body section#trio .animate-success {
  position: relative;
  top: 0px;
  max-width: 100%;
  min-width: 200px;
  min-height: 100%;
  overflow: hidden;
}
body section#trio .animate-success #oklarge {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 260px;
  left: 50%;
  margin-left: -10px;
  transition: all 1000ms ease-out;
}
body section#trio .animate-success #oklarge.active {
  transform: scale(10, 10);
  -webkit-transform: scale(30, 30);
  opacity: 0;
}
body section#trio .animate-success #replay {
  position: absolute;
  left: 50%;
  width: 100px;
  top: 225px;
  margin-left: -50px;
}
body section#trio .animate-success #replay img {
  width: 100%;
  transition: all 500ms ease;
  opacity: 0;
}
body section#trio .animate-success #replay img.active {
  opacity: 1;
}
body section#trio .animate-success #replay:hover img {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
body section#trio .animate-success #replay:active img {
  transform: rotate(720deg);
  -webkit-transform: rotate(720deg);
}
.btn {
  position: relative;
  cursor: pointer;
}
.btn img {
  transition: all 100ms ease;
  max-width: 200px;
}
.btn:hover img {
  transform: scale(1.05, 1.05);
  -webkit-transform: scale(1.05, 1.05);
}
.btn:active img {
  transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  opacity: 1!important;
}
@-webkit-keyframes blinker {
  from {
    opacity: 1.0;
  }
  to {
    opacity: 0.5;
  }
}
@media only screen and (orientation: landscape) {
  body #logo {
    position: absolute;
  }
}
.multi-file-upload .item {
  width: 150px;
  position: relative;
}
.multi-file-upload .item canvas {
  position: absolute;
  opacity: 0;
}
body.main-grid {
  background: #000;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body.main-grid .grid-loader {
  background: #000;
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden;
  display: none;
  z-index: 300;
}
body.main-grid .grid-loader img {
  width: 30px;
  height: 30px;
  -webkit-animation: rotate 0.8s linear infinite;
  outline: 1px solid transparent;
  position: absolute;
  left: 30px;
  top: 30px;
  margin-top: -15px;
  margin-left: -15px;
}
body.main-grid .grid-wrapper {
  height: 1080px;
  width: 1920px;
  position: absolute;
  left: 15px;
  top: 15px;
}
body.main-grid .grid-wrapper * {
  box-sizing: border-box;
}
body.main-grid .grid-wrapper.loading .grid-loader {
  display: block;
}
body.main-grid .grid-wrapper.loading .grid-container {
  opacity: 0;
}
body.main-grid .grid-wrapper .item,
body.main-grid .grid-wrapper .spacer {
  width: 162.1px;
  height: 162.1px;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  margin-bottom: 30px;
  color: #fff;
  /* Settings for normal frame */
}
body.main-grid .grid-wrapper .item.spacer,
body.main-grid .grid-wrapper .spacer.spacer {
  background: #fff;
  left: 0;
  top: 192.1px;
  display: none;
}
body.main-grid .grid-wrapper .item.spacer + .spacer,
body.main-grid .grid-wrapper .spacer.spacer + .spacer {
  left: 384.2px;
  top: 576.3px;
}
body.main-grid .grid-wrapper .item.spacer + .spacer + .spacer,
body.main-grid .grid-wrapper .spacer.spacer + .spacer + .spacer {
  left: 1536.8px;
  top: 576.3px;
}
body.main-grid .grid-wrapper .item .wrapper,
body.main-grid .grid-wrapper .spacer .wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
body.main-grid .grid-wrapper .item .wrapper span,
body.main-grid .grid-wrapper .spacer .wrapper span {
  display: block;
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left top;
  width: 100%;
  height: 100%;
}
body.main-grid .grid-wrapper .item .wrapper span.frame-border,
body.main-grid .grid-wrapper .spacer .wrapper span.frame-border {
  z-index: 10;
  background: url(../img/frame.png) left top no-repeat;
  background-size: cover;
  border: 1px solid transparent;
}
body.main-grid .grid-wrapper .item .wrapper span.frame,
body.main-grid .grid-wrapper .spacer .wrapper span.frame {
  z-index: 5;
}
body.main-grid .grid-wrapper .item .wrapper span.frame.main-frame,
body.main-grid .grid-wrapper .spacer .wrapper span.frame.main-frame {
  z-index: 1;
}
body.main-grid .grid-wrapper .item .wrapper span.frame-border,
body.main-grid .grid-wrapper .spacer .wrapper span.frame-border {
  border-width: 0;
}
body.main-grid .grid-wrapper .item .wrapper span.frame,
body.main-grid .grid-wrapper .spacer .wrapper span.frame {
  width: 122.1px;
  height: 122.1px;
  left: 20px;
  top: 20px;
}
body.main-grid .grid-wrapper .item.medium,
body.main-grid .grid-wrapper .spacer.medium {
  width: 354.2px;
  height: 354.2px;
  left: 200px;
  /* Settings for medium frame */
}
body.main-grid .grid-wrapper .item.medium .wrapper span.frame-border,
body.main-grid .grid-wrapper .spacer.medium .wrapper span.frame-border {
  border-width: 0;
}
body.main-grid .grid-wrapper .item.medium .wrapper span.frame,
body.main-grid .grid-wrapper .spacer.medium .wrapper span.frame {
  width: 264.2px;
  height: 264.2px;
  left: 45px;
  top: 45px;
}
body.main-grid .grid-wrapper .item.large,
body.main-grid .grid-wrapper .spacer.large {
  width: 546.3px;
  height: 546.3px;
  top: 400px;
  /* Settings for large frame */
}
body.main-grid .grid-wrapper .item.large .wrapper span.frame-border,
body.main-grid .grid-wrapper .spacer.large .wrapper span.frame-border {
  border-width: 0;
}
body.main-grid .grid-wrapper .item.large .wrapper span.frame,
body.main-grid .grid-wrapper .spacer.large .wrapper span.frame {
  width: 386.3px;
  height: 386.3px;
  left: 80px;
  top: 80px;
}
@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
.main-list {
  background: none;
}
body.main-list {
  background: #000;
  position: relative;
}
body.main-list ul {
  margin: 0;
  max-width: 600px;
  margin: 0 auto;
}
body.main-list ul li {
  list-style: none;
  text-align: left;
}
body.main-list ul li a {
  color: #fff;
}
body.main-list ul.listing li {
  float: left;
  width: 120px;
  position: relative;
}
body.main-list ul.listing li img {
  width: 100px;
  height: 100px;
  margin: 25px auto 5px auto;
  display: block;
  border: 5px solid #fff;
}
body.main-list ul.listing li a {
  display: block;
  text-align: center;
}
body.main-list ul.listing li span {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  top: 30px;
  left: 10px;
  font-size: 12px;
  padding: 3px 5px;
}
body.main-list ul.listing:after {
  content: "";
  display: block;
  height: 50px;
  clear: both;
}
body.main-list ul.pagination {
  height: 50px;
}
body.main-list ul.pagination li {
  display: inline-block;
  width: 30px;
}
body.main-list ul.pagination li.active a {
  text-decoration: none;
  font-weight: bold;
  color: grey;
}
